
* {box-sizing: border-box;}
body{
  margin: 0;
}
.columns{
border: thin solid blue;
width: 33.3333%;
float: left;
overflow: hidden;
}


.right-block{
width: 90%;
float: right;
text-align: center;
margin: 0 auto;
background-image: url("images/fondo.jpg");

}


.top-menu{
border: thin solid black;
width:100%;
}


.logo{
margin: 0;
width: 100px;
}

.logo-div{
  width: 10%;
  background-color: rgb(159, 249, 241);


}




.menu-izquierda{
text-align: center;
font-size: 18px;
background-color: rgb(159, 249, 241);
border: thin solid black;
float: left;
width: 10%;

}
